<h1>List of ideas: </h1>

<br>
<br>

<div class="pull-right">
  <div class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" data-remote="url.html">New Idea</div>
  <%# link_to "New Idea", new_idea_path %>
</div>
<hr>

  <% @ideas.each do |idea| %>
    <strong><%= link_to "#{idea.title}", idea_path(idea) %></strong>
    <p> <%= idea.body %> </p>
    <p><strong>By: <%= idea.user.try(:full_name) %> </strong></p>
    <span> Likes: <%= idea.likes %><%= link_to 'like', like_idea_path(idea),  class: "btn btn-success btn-xs pull-right" %> </span>

    <hr>


    <% end %>


    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Submit a New Idea</h4>
          </div>
          <div class="modal-body">
            <%= form_for :idea, url: ideas_path do |f| %>
              <div class="form-group">
                <%= f.label :title %><br>
                <%= f.text_field :title, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :body %><br>
                <%= f.text_area :body, class: "form-control" %>
              </div>
          </div>
          <div class="modal-footer form-group">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit :submit, class: 'btn btn-primary' %>
          </div>
        </div><!-- /.modal-content -->
        <% end %>
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
