<h1>Ideas#new</h1>
<p>Find me in app/views/ideas/new.html.erb</p>


<%= form_for :idea, url: ideas_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
