<h1> <%= @idea.title %> </h1>

<p><strong></strong><%= @idea.body %></p>
<strong>By: <%= @idea.user.try(:full_name) %></strong>
<hr>
<% if (can? :destroy, @idea) %>
  <%= link_to 'Delete', idea_path(@idea),
                                              method: :delete,
                                              data: { confirm: 'Are you sure?' } %>
<% end %>

<% if can? :edit, @idea %>
  <%= link_to 'Edit', edit_idea_path(@idea) %>
<% end %>


<h3> User Review(s) </h3>
<% @idea.reviews.each do |review| %>
  <hr>
  <% if review.is_flagged %>
    <p><strong> *This review has been flagged for removal* </strong></p>
    <span class="glyphicon glyphicon-flag" style="color: red"></span>
  <% else %>
    <p><%= review.user.try(:full_name) %> says: </p>
    <p><%= review.body %></p>
    <br>
  <% end %>
  <% if @idea.user == current_user %>
    <% if !review.is_flagged %>
      <%= link_to 'Flag', review_flag_path(review) %>
    <% else %>
      <%= link_to 'Unflag', review_flag_path(review) %>
    <% end %>
  <% end %>
  <% if can? :destroy, review %>
    <%= link_to 'Delete', [@idea, review],
      method: :delete,
      data: {confirm: 'Are you sure?!!'}%>
  <% end %>
<% end %>





<% if user_signed_in? %>
  <hr>
  <h3> add a Review </h3>
  <%= form_for ([@idea, @review]) do |f| %>
  <div class="form-group">
    Review:<%= f.text_area :body, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.submit :submit, class: 'btn btn-primary'%>
</div>

<% end %>
<% end %>
