<h1> <%= @idea.title %> </h1>

<p><strong></strong><%= @idea.body %></p>
<strong>By: <%= @idea.user.try(:full_name) %></strong>
<hr>
<% if (can? :destroy, @idea) %>
  <%= link_to 'Delete', idea_path(@idea),
                                              method: :delete,
                                              data: { confirm: 'Are you sure?'} %>
<% end %>


<% if can? :edit, @idea %>
  <%= link_to 'Edit', edit_idea_path(@idea) %>
<% end %>


<h3> User Review(s) </h3>
<% @idea.reviews.each do |review| %>
  <hr>
  <% if review.is_flagged && !user_signed_in? %>
    <p><span class="glyphicon glyphicon-flag pull-left" style="color: red; font-size: 25px;"></span>
      <strong> * This review has been flagged for removal * </strong></p>
  <% elsif !review.is_flagged && !user_signed_in? %>
    <p><strong><%= review.user.try(:full_name) %> says: </strong>
    <p><%= review.body %></p>
  <% elsif review.is_flagged && @idea.user == current_user %>
    <p><span class="glyphicon glyphicon-flag pull-left" style="color: red; font-size: 25px;"></span>
      <strong> * This review has been flagged for removal * </strong>
    <span class="pull-right"><%= link_to 'Unflag', review_flag_path(review), class: 'btn btn-success btn-xs' %></span></p>
  <% else%>
    <p><strong><%= review.user.try(:full_name) %> says: </strong>
      <span class="pull-right"><%= link_to 'Flag', review_flag_path(review), class: 'btn btn-danger btn-xs' %></span></p>
      <p><%= review.body %></p>
  <% end %>


  <% if can? :destroy, review %>
    <%= link_to 'Delete', [@idea, review],
      method: :delete,
      data: {confirm: 'Are you sure?!!'}%>
  <% end %>
<% end %>


<% if user_signed_in? %>
  <hr>
  <h3> add a Review </h3>
  <%= form_for ([@idea, @review]) do |f| %>
    <div class="form-group">
      Review:<%= f.text_area :body, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit :submit, class: 'btn btn-primary'%>
    </div>
  <% end %>
<% end %>
